<ion-header>
  <ion-toolbar>
    <ion-title>
      iamport 결제 테스트
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card" (click)="payment()">
    <h4>상품 제목</h4>
    <div class="content">상품 내용</div>
  </div>
</ion-content>
